body{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
}

header{
    background: url(https://i.ibb.co/fGKB4gc4/PORTADA-KOFI.png) no-repeat center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}
nav{
    background-color: #4c0655;
    padding: 12px;
    display: flex;
    justify-content: center;
}
nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;

    /*pequeño efecto para enlace*/
    display: inline-block;
    transition: transform 0.3s ease;
    /*movimiento suave y lento*/
}
nav a:hover{
    transform: translateY(-5px);
    text-decoration: underline;
}
.contenedor{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.card{
    background: white;
    box-shadow: 0 0 10px black(0,0,0,0.8);
    border-radius: 12px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card h3{
    margin: 10px;
}
.card p{
    margin: 10px;
    color: #555;
    text-align: justify;
}
footer{
    margin-top: 40px;
    background-color: #4c0655;
    color:white;
    text-align: center;
    padding:15px;
    font-size: 20px;
}
.ubicacion{
    width: 90%;
    margin-left: 40%;
    margin-top: -13%;
    padding: 10px;
}